{% extends 'main/layout.html' %}

{% block title %}База данных{% endblock %}

{% block content %}
    <div class="featrues">
        <h1>База данных</h1>
        <p>Текст</p>
        <form action="{% url 'histogram' %}">
            <button class="btn btn-warning">Отобразить гистограму</button>
        </form>
        <form action="{% url 'pie_chart' %}">
            <button class="btn btn-warning">Отобразить Диаграмму</button>
        </form>
        <form action="{% url 'score_range_histogram' %}">
            <button class="btn btn-warning">Отобразить Гистограму</button>
        </form>
    </div>
{% endblock %}